/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: #0f0f0f; /* Dark background globally */
  color: #fff;
}
/* Disable vertical scroll globally */

/* Scrollbar customization */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b21a8;
  border-radius: 4px;
}
